@import '../utils/colors.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fdfdfe;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-style: italic;
  background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
  background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
}
#root {
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
}